.form{
    width: 100%;
    background: var(--color-two); 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.form-format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.5rem 5rem 4.5rem 6rem;
}

.form__content{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--color-three);
}

.form__content--title {
    font-size: 2.3rem;
    width: 90%;
    margin-bottom: 0.5rem;
}

.form__layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__question {
    font-size: .9375rem;
    margin: 0.8rem 0rem;
}

.form__question--select {
    border: none;
    background: var(--color-three);
    color: var(--color-one);
    border-radius: 1.25rem;
    text-align: center;
    padding: 0.625rem 0.625rem;
}

.form__format--button {
    border: none;
    width: 10rem;
    border-radius: 100px;
    background: var(--color-four);
    color: var(--color-one);
    font-size: .9rem;
    text-align: center;
    padding: .6rem 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}


