* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one:#FFFFFF; 
    --color-two: #FEFAF5;
    --color-three: #335576;
    --color-four: #DB7A4E; 
    --color-five: #000000;
 }

main {
    margin: 0 auto;
    width: 100vw;
}
