/* Navigation */
.navigation {
    background: var(--color-one);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: .625rem;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation__title{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-three);
    margin-left: 5.2rem;
}

.navigation__list{
    display: flex;
    list-style: none;
    margin-right: 4rem;
}

.navigation__list--item{
    display: inline-block;
    text-decoration: none;
    font-size: .88rem;
    color: var(--color-five);
    margin-right: 1rem;
    padding: .625rem 0;
    transition: all .2s; 
}

.navigation__list--item:hover{
    border-bottom: 0.188rem solid var(--color-four);
}

.current {
    border-bottom: 0.188rem solid var(--color-four);
}

/* Header */
.header{
    width: 100%;
    background: var(--color-two); 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.header-format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4.5rem 5rem 4.5rem 6rem;
}

.header__content{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--color-three);
}

.header__content--title {
    font-size: 2.3rem;
    width: 90%;
    margin-bottom: 2rem;
}

.header__content--text {
    font-size: .9375rem;
    width: 100%;
    margin-bottom: 2rem;
}

.header__content--button{
    border: none;
    width: 10rem;
    border-radius: 100px;
    background: var(--color-four);
    color: var(--color-one);
    font-size: .9rem;
    text-align: center;
    padding: .6rem 2rem;
}

.hero__image{
    width: 40%;
    margin-left: 3rem;
}

/* Recommendations */
.recommendations{
    width: 100%;
    background: var(--color-one);   
}

.recommendations-format{
    margin: 3rem 5.8rem;
}

.recommendations__title{
    font-size: 1.4rem;
    color: var(--color-three);
}

.recommendations__cards{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.card__content {
    display: flex;
    margin: 2rem 1.1rem;
    border: 0.063rem solid rgba(0,0,0,.25);
    border-radius: 0.313rem;
    box-shadow: 0rem 0.125rem 0.375rem 0rem rgba(0,0,0,.25);
    position: relative;
    transition: all .3s cubic-bezier(.5,0,.5,1);
    overflow: hidden;
}

.card__content--img {
    max-width: 16rem;
}

.card__content--text {
    position: absolute;
    color: var(--color-one);
    width: 100%;
    text-align: right;
    bottom: 0;
    font-size: 1.35rem;
    padding: 1rem 1.2rem;
}

.card__content:hover{
    transform: scale(1.02);
    opacity: .8;
}